body {
    display: flex;
    flex-direction: column;
}
.contenedor {
    background-color: #ffe6e6;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.cards {
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffabab;
    height: 20vh;
    width: 50vh;
    padding: 2vh 5vh 3vh 2vh;
    text-align: left;
}

.bg {
    margin-top: 5vh;
    width: 16%;
    height: 43vh;
    background: #ffe6e6;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.formulario {
    background: #ffffff;
    border: 2px solid #000000;
    width: 30vh;
    align-content: center;
    justify-content: center;
}

.renglones {
    border-radius: 20px;
    background-color: #b0d7ff;
    width: 26vh;
    margin: 1vh 1vh 1vh 1vh;
    height: 3vh;
    padding-left: 10px;
    align-content: center;
}

.contenedor-enviar {
    margin-top: 3vh;
    background: #ffe6e6;
    padding: 1vh;
}

button {
    background-color: rgba(0, 102, 255, 0.78);
    color: white;
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 15px;
    color: #9ca3af;
}
header {
  background: linear-gradient(90deg, #0a120d, #14532d, #0a120d);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}