img{
    width: 100%;
    height: auto;
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 15px;
    color: #9ca3af;
}
header {
  background: linear-gradient(90deg, #0a120d, #14532d, #0a120d);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: #e60012;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}