/* Restored base styles */
.caja-gris-fijo{
    height: 100px;
    width: 100%;
    background-color: rgb(46, 46, 58);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Layout específico Actividad 4.1 */
.act4-1 main.lienzo-posicion{
    width: 1200px;
    height: 700px;
    margin: 2rem auto 6rem;
    padding-top: 40px;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    box-shadow: none;
    border-radius: 0;
}

/* Caja base donde se colocan las capas */
.act4-1 .caja-blanca{
    height: 500px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    z-index: 10;
}

/* Capas internas absolutas */
.act4-1 .caja-naranja{
    height: 400px;
    width: 900px;
    background-color: rgba(255, 165, 0, 0.50);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}

.act4-1 .caja-rosa{
    border: 2px dashed purple;
    border-collapse: collapse;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 192, 203);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 30;
}

.act4-1 .caja-azul{
    border: 1px solid blue;
    height: 499px;
    width: 149px;
    background-color: rgba(0, 166, 255, 0.5);
    position: absolute;
    left: 850px;
    top: 0;
    z-index: 40;
}

.act4-1 .caja-roja{
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 0, 0);
    color: white;
    position: absolute;
    left: 720px;
    top: 10px;
    z-index: 40;
}

.act4-1 .caja-gris-base{
    border-top: 1px solid red;
    height: 100px;
    width: 1000px;
    background-color: rgb(46, 46, 58);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

/* Ajuste de título dentro de la actividad */
.act4-1 h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
