
.caja-azul {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(57, 176, 255);
}

.caja-morada {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(177, 57, 255);
}

.caja-roja {
    float: left;
    margin: 1%;
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 57, 57);
}

.caja-amarilla {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(255, 243, 57);
}

.caja-verde {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(57, 255, 83);
}

.caja-dorada {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(255, 223, 57);
}

.caja-rosa {
    float: left;
    margin: 1%;
    width: 30%;
    height: 15vh;
    background-color: rgb(255, 57, 201);
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 15px;
    color: #9ca3af;
}

header {
  background: linear-gradient(90deg, #0a120d, #14532d, #0a120d);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: #e60012;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}