body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #040403;
  margin: 20px;
  text-align: center;
}
header {
  background: linear-gradient(90deg, #0a120d, #14532d, #0a120d);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: #e60012;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h1 {
  color: #d0021b;
}

h2 {
  color: #d0021b;
  margin-top: 20px;
}

p {
  max-width: 800px;
  margin: 0 auto 20px auto;
}

a {
  color: #1e3a8a;
}

img {
  margin-top: 10px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px auto;
  text-align: left;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
}

th {
  background-color: #ffc20e;
}

tr:nth-child(even) {
  background-color: #fff2b9;
}

strong {
  color: #d0021b;
}
footer {
  margin-top: auto;
  text-align: center;
  font-size: 15px;
  color: #9ca3af;
}
