body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 20px;
    text-align: center; 
}

h1 {
    color: #D0021B;
    margin-bottom: 20px;
}

h2 {
    color: #D0021B;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    max-width: 800px;
    margin: 0 auto 10px auto;
    text-align: justify;          
}

strong {
    color: #D0021B;
}

img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 10%;
    height: auto;
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 15px;
    color: #9ca3af;
}
header {
    background: linear-gradient(90deg, #0a120d, #14532d, #0a120d);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}